* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d3250;
}


/* navbar start */

.ltip-navbar-body {
    background-color: #424769;
    padding: 0;
}

.ltip-navbar-brand {
    background-color: #f9b17a;
    padding: 5px 20px;
    color: #424769;
    font-weight: bold;
    margin: 0;
}

.ltip-navbar-nav a {
    padding: 8px 40px;
    color: white;
    transition: all 0.4s;
}

.ltip-navbar-nav li:hover {
    background-color: #f9b17a;
    color: #424769;
}

.ltip-navbar-nav li.active a {
    color: #f9b17a;
}

.ltip-navbar-nav li:hover a {
    color: #424769;
}

.ltip-navbar-nav a {
    margin: 0 20px;
}

/* navbar end */

/* carousel start */

.ltip-carousel div.col-2 {
    height: 280px;
}

/* carousel end */

/* cards start */

.ltip-cards-main {
    padding: 20px;
}

.ltip-cards, .ltip-prefooter {
    background-color: #424769;
    padding: 30px;
}

.text-header h2 {
    color: #DCDCDC;
    font-size: 16pt;
    text-transform: uppercase;
}

.ltip-cards-filter a {
    border-radius: 40px;
    color: #DCDCDC;
    margin: 0 2px;
}

.ltip-cards-filter a:first-child {
    padding-left: 20px;
    padding-right: 20px;
}

.ltip-cards-filter a:hover {
    color: #DCDCDC;
    background-color: #2d3250;
}

.ltip-cards-nav .col-12 a {
    text-decoration: none;
    text-transform: uppercase;
    color: #DCDCDC;
    font-weight: 600;
    margin-right: 30px;
    font-size: 10pt;
    padding-bottom: 19px;
}

.ltip-cards-nav .col-12 a.active {
    border-bottom: #f9b17a 4px solid;
}

.ltip-hr {
    border-top: 4px #DCDCDC solid;
    color: #DCDCDC;
}

.card-main a {
    margin: 20px; 
    text-decoration: none;
    color: black;
}

.card-film {
    height: 350px;
    background-image: url("../img/avatar.jpg");
    background-size: cover;
    transition: all 0.4s;
}

.card-film:hover {
    box-shadow: 0px 0px 15px 4px rgba(46, 203, 255, 0.562);
}

.film-1 {
    background-image: url("../img/avatar.jpg");
}

.film-2 {
    background-image: url("../img/dance\ heart.webp");
}

.film-3 {
    background-image: url("../img/djoker.jpg");
}

.film-4 {
    background-image: url("../img/ekipag.jpg");
}

.film-5 {
    background-image: url("../img/titanic.jpg");
}

.film-6 {
    background-image: url("../img/parker.jpg"); 
}

.col-film:first-child {
    background-color: lightgreen;
    border-radius: 0px 50px 50px 0px;
}

.col-film:last-child {
    background-color: orange;
    border-radius: 50px 0 0 50px;
}

.col-film {
    padding: 10px;
    margin-top: 20px;
    height: 30px;
    font-size: 12pt;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cards end */

/* pagination start */

.ltip-cards-pagination {
    display: flex;
    list-style: none;
}

.ltip-cards-pagination li {
    width: 40px;
    height: 40px;
    background-color: #2d3250;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.ltip-cards-pagination li.active {
    background-color: #f9b17a;
}

.ltip-cards-pagination li:hover {
    background-color: #f9b17a;
}

.ltip-cards-pagination li a {
    text-decoration: none;
    padding: 10px;
    color: #DCDCDC;
    transition: all 0.4s;
}

.ltip-cards-pagination li:hover a {
    color: #2d3250;
}

.ltip-cards-pagination li.active a {
    color: #2d3250;
}

/* pagination end */

/* prefooter start */

.ltip-text {
    color: #b7b7b7;
}

.ltip-prefooter-text a {
    text-decoration: none;
    color: #f9b17a;
}

/* prefooter end */

/* footer start */

.ltip-footer {
    background-color: #424769;
    color: white;
    height: 110px;
    display: flex;
    align-items: center;
}

.ltip-footer-nav a {
    text-decoration: none;
    color: #DCDCDC;
    padding: 10px 20px;
    margin-left: 15px;
    transition: all 0.4s;
    font-weight: 600;
}

.ltip-footer-nav a:hover {
    color: #424769;
    background-color: #f9b17a;
}

.ltip-footer-text {
    padding-top: 10px;
    margin-left: 20px;
}

/* footer end */